/*
 * Name: CSS App Mask
 * Author: David Darnes
 * Author url: http://david.darn.es
 * Tools: Made in Coda, Codekit and Less
 * Usage: Just copy this file into your work folder,
   wrap your png in something (most likely an a element)
   and give it a class of 'app'. Simple.
 */
/* Page specific styling for example page */
body {
  height: 100%;
}
section {
  width: 302px;
  margin: 150px auto;
}
a.logo {
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: url('logo.png');
  background-size: 100% 100%;
  width: 56px;
  height: 57px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.logo:hover {
  opacity: 1;
}
/* Image to be masked */
.app img {
  position: relative;
  -webkit-filter: drop-shadow(0 0 30px #143350);
  -moz-filter: drop-shadow(0 0 30px #143350);
  -ms-filter: drop-shadow(0 0 30px #143350);
  -o-filter: drop-shadow(0 0 30px #143350);
  filter: drop-shadow(0 0 30px #143350);
}
/* Masking element */
.app {
  display: block;
  line-height: 0;
  float: left;
  position: relative;
  background-color: #245b8d;
  background-image: -moz-linear-gradient(top, #194064, #3382ca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#194064), to(#3382ca));
  background-image: -webkit-linear-gradient(top, #194064, #3382ca);
  background-image: -o-linear-gradient(top, #194064, #3382ca);
  background-image: linear-gradient(to bottom, #194064, #3382ca);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff194064', endColorstr='#ff3382ca', GradientType=0);
  border: 1px solid #3382ca;
  border-top: 1px solid rgba(255, 255, 255, 0.32999999999999996);
  border-bottom: 1px solid #2e75b6;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4), inset 0 -20px 60px rgba(255,255,255,0.2), inset 0 0 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.4), inset 0 -20px 60px rgba(255,255,255,0.2), inset 0 0 1px rgba(255,255,255,0.5);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4), inset 0 -20px 60px rgba(255,255,255,0.2), inset 0 0 1px rgba(255,255,255,0.5);
}
.app:after {
  content: "";
  display: block;
  width: 100%;
  height: 49%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.36);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff', endColorstr='#00ffffff', GradientType=0);
  opacity: 0.85;
  filter: alpha(opacity=85);
  -webkit-border-top-left-radius: 20% 40%;
  -moz-border-top-left-radius: 20% 40%;
  border-top-left-radius: 20% 40%;
  -webkit-border-top-right-radius: 20% 40%;
  -moz-border-top-right-radius: 20% 40%;
  border-top-right-radius: 20% 40%;
  -webkit-border-bottom-left-radius: 50% 20%;
  -moz-border-bottom-left-radius: 50% 20%;
  border-bottom-left-radius: 50% 20%;
  -webkit-border-bottom-right-radius: 50% 20%;
  -moz-border-bottom-right-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
.app:active {
  background-color: #194064;
  background-image: -moz-linear-gradient(top, #0f263b, #2968a1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f263b), to(#2968a1));
  background-image: -webkit-linear-gradient(top, #0f263b, #2968a1);
  background-image: -o-linear-gradient(top, #0f263b, #2968a1);
  background-image: linear-gradient(to bottom, #0f263b, #2968a1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f263b', endColorstr='#ff2968a1', GradientType=0);
  border: 1px solid #2968a1;
  border-top: 1px solid rgba(255, 255, 255, 0.22999999999999998);
  border-bottom: 1px solid #245b8d;
}
/* Page specific styling for example page */
footer {
  clear: both;
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 30px;
  text-align: center;
}
